<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

    <title>Total Sistemas - BOT</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./adm.css" />
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap.min.css">
  </head>

  <body>
    <div class="d-flex flex-row bg-image justify-content-center align-items-center" style="background-image: url('./logoFinal2.jpg'); height: 100vh;">
      <div id="container" class="row-sm p-5 my-5 border">
        <div class="row-sm-4">
          <div>
            <h2>Sessões Conectadas</h2>
            <br/>
            <div id="container2">
              <p id="list"></p>
              <button onclick="atualizar()" id="attSess">Atualizar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
    const socket = io("http://localhost:3000");
    const atualizar = () => {
      socket.on("listarData", (formattedData) => {
        document.getElementById('list').innerHTML = '<b>' + formattedData + ' <img onclick="deleteSession()" src="./542724.png" id="btn-del">';
      });

      socket.emit("listar");
    }

    const deleteSession = () => {
      socket.emit("deletar");
      document.getElementById('list').innerHTML = '';
    }
    </script>
  </body>
</html>